$primary:     'deep-orange';
$accent:      'blue';
$warn:        'green';
$red:         'red';

@import 'ember-paper';
@import 'editor';
@import 'nav';
@import 'simditor';

// From ember-paper demo app. Necessary to make separate scroll bars work.
body.ember-application {
  flex-direction: row;
  flex: 1;
  display: flex;
}

body > div.ember-view {
  width: 100%;
  flex-direction: row;
  flex: 1;
  display: flex;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

*::-webkit-scrollbar-thumb {
  background: color($color-grey, '500');
}
// / From ember-paper demo app


h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: inherit;
}

.app-index-rabbit {
  margin: 20px 30px;
}

.index-text {
  text-align: center;
  letter-spacing: 0.15em;
}

.index-description-div {
  margin-top: 15px;
  margin-bottom: 20px;
}

.index-text-login {
  text-align: center;
  letter-spacing: 0.07em;
}

.login-icon {
  padding: 12px;
  cursor: pointer;
  font-size: 1.6em;
}

.google-login-icon {
  color: #4081f8;
}

.fb-login-icon {
  color: #435bae;
}

.github-login-icon {
  color: #171515;
}

.twitter-login-icon {
  color: #039ff6;
}

hr {
  width: 36%;
  border: 0 none;
  background-color: color($primary);
  height: 1px;
}

.toggle-nav-icon {
  color: white !important;
  font-size: 3em;
  position: fixed;
  top: 0px;
  left: 6px;
  z-index: 10;
  cursor: pointer;
}

.how-to-table {
  border: none;
  .center {
    text-align: center;
  }
}

.how-to-link-button {
  border: none;
  background-color: color($accent);
  font-size: 1.4em;
  color: lighten(color($primary), 50%);
  padding: 2px 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.cursor-pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}

.how-to-col1 {
  padding-right: 20px;
  min-width: 110px;
  text-align: center;
}

.ember-basic-dropdown-trigger {
  outline: none;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-bottom-28 {
  margin-bottom: 28px;
}
