$primary:     'deep-orange';
$accent:      'indigo';
// $accent:      'blue';
$warn:        'green';
$red:         'red';

// Dark theme variables
$dark-theme-background-color:     #404040;
$dark-theme-simdator-body-bg:     rgba(0,0,0, 0.6);
$dark-theme-font-color:           rgba(255,255,255, 0.3);
$dark-theme-simditor-font-color:  rgba(255,255,255, 0.93);
$dark-theme-simditor-text-shadow: 0px 0px 10px rgba(0,0,0, 0.1);
$dark-theme-simditor-link-color:  skyblue;

@import 'ember-paper';
@import 'editor';
@import 'nav';
@import 'simditor';

// From ember-paper demo app. Necessary to make separate scroll bars work.
body.ember-application {
  flex-direction: row;
  flex:           1;
  display:        flex;
}

body > div.ember-view {
  width:          100%;
  flex-direction: row;
  flex:           1;
  display:        flex;
}

*::-webkit-scrollbar {
  width:  5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

*::-webkit-scrollbar-thumb {
  background: color($color-grey, '500');
}
// / From ember-paper demo app


md-toolbar {
  height:     90px !important;
  min-height: 90px !important;
}

h1, h2, h3 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: inherit;
}

.app-index-rabbit {
  margin: 20px 30px;
  img {
    opacity: 0.5;
  }
}

.index-text {
  text-align: center;
  letter-spacing: 0.15em;
}

.index-title {
  line-height: 0.8em;
}

.index-description-div {
  margin-top: 15px;
  margin-bottom: 20px;
}

.index-text-login {
  text-align: center;
  letter-spacing: 0.07em;
}

.login-icon {
  padding: 12px;
  cursor: pointer;
  font-size: 2em;
}

.google-login-icon {
  color: #4081f8;
}

.fb-login-icon {
  color: #435bae;
}

.github-login-icon {
  color: #171515;
}

.twitter-login-icon {
  color: #039ff6;
}

hr {
  width: 36%;
  border: 0 none;
  background-color: color($primary);
  height: 1px;
}

.toggle-nav-icon {
  color: white !important;
  font-size: 3em;
  position: fixed;
  top: 0px;
  left: 6px;
  z-index: 10;
  cursor: pointer;
}

.how-to-table {
  border: none;
  .center {
    text-align: center;
  }
}

.how-to-link-button {
  border: none;
  background-color: color($accent);
  font-size: 1.4em;
  color: lighten(color($primary), 50%);
  padding: 2px 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.cursor-pointer {
  cursor: pointer;
}

.center {
  text-align: center;
}

.how-to-col1 {
  padding-right: 20px;
  min-width: 110px;
  text-align: center;
}

.ember-basic-dropdown-trigger {
  outline: none;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-bottom-28 {
  margin-bottom: 28px;
}

.height-90 {
  height: 90px;
  max-height: 90px;
}

.height-94 {
  height: 94px;
  max-height: 94px;
}

.login-spinner {
  color: color($primary);
  font-size: 1.8em;
  font-weight: 100;
}

.xxs-font {
  font-size: 0.6em;
}

// Dark theme over rides ////////////////////////////////////////////////

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  // background-color: #c74010;
  background-color: #c41;
}

.dark-theme {
  background-color: $dark-theme-background-color !important;
}

.cp-Panel-body,
.cp-Panel-body-inner div {
  background-color: $dark-theme-background-color !important;
  color:            $dark-theme-simditor-link-color;
}

.nav-icons .dark-theme, .dark-theme-text {
  color: $dark-theme-font-color;
}

.menu-jot-link.active > div {
  color:            $dark-theme-simditor-font-color !important;
  background-color: inherit !important;
}

#nav-group-panels {
  background-color: $dark-theme-background-color !important;
  md-toolbar, .md-toolbar-tools {
    border-bottom: 1px solid $dark-theme-background-color !important;
  }
}

.simditor {
  border: none !important;
}

.simditor-body {
  background-color: $dark-theme-simdator-body-bg !important;
  thead
  {
    background-color: $dark-theme-background-color !important;
  }
  th.active,
  td.active,
  code
  {
    background-color: $dark-theme-simdator-body-bg !important;
  }
  table th,
  table td
  {
    border-color: $dark-theme-background-color !important;
  }
}

.simditor .simditor-body h1,
.simditor .simditor-body h2,
.simditor .simditor-body h3,
.simditor .simditor-body h4,
.simditor .simditor-body h5,
.simditor .simditor-body h6,
.simditor .simditor-body p,
.simditor .simditor-body li,
.simditor .simditor-body span,
.editor-style h1,
.editor-style h2,
.editor-style h3,
.editor-style h4,
.editor-style h5,
.editor-style h6,
.editor-style p,
.editor-style li,
.editor-style span,
th, td
{
  color:       $dark-theme-simditor-font-color;
  text-shadow: $dark-theme-simditor-text-shadow !important;
}

.simditor .simditor-body a,
.editor-style a {
  color:  $dark-theme-simditor-link-color !important;
}

.simditor-toolbar {
  border:           none !important;
  background-color: color($accent, 'A100') !important;
  box-shadow:       none !important;
}

.toolbar-item.active {
  background-color: color($accent, '400') !important;
}

.simditor .simditor-toolbar > ul > li.menu-on .toolbar-item {
  background: inherit;
}

.simditor .simditor-toolbar .toolbar-menu {
  background: #999;
}

.simditor .simditor-toolbar .toolbar-menu.toolbar-menu-color .color-list li .font-color-1 {
  background: #E30707;
}
.simditor .simditor-toolbar .toolbar-menu.toolbar-menu-color .color-list li .font-color-2 {
  background: #ffac00;
}
.simditor .simditor-toolbar .toolbar-menu.toolbar-menu-color .color-list li .font-color-3 {
  background: #f8f808;
}
.simditor .simditor-toolbar .toolbar-menu.toolbar-menu-color .color-list li .font-color-4 {
  background: #22bb22;
}
.simditor .simditor-toolbar .toolbar-menu.toolbar-menu-color .color-list li .font-color-5 {
  background: #00bfff;
}
.simditor .simditor-toolbar .toolbar-menu.toolbar-menu-color .color-list li .font-color-6 {
  background: #cd853f;
}
.simditor .simditor-toolbar .toolbar-menu.toolbar-menu-color .color-list li .font-color-7 {
  background: #aaa;
}

