html, body {
  height: 100vh;
  overflow: hidden;
}

#editor-div {
  height: 100vh;
  margin-right: -30px;
  padding: 0 30px 0 0;
}

#jots-index-instructions-toolbar {
  background-color: color($primary, '400');
  margin-top: -20px;
}

.jot-input {
  width: 98%;
}

#status-icon, .delete-icon, .download-icon {
  margin: 40%;
  cursor: pointer;
}

.delete-icon {
  color: color($primary) !important;
}

.simditor {
  border: 1px solid color($accent, '50') !important;
}

.simditor-toolbar {
  border: 1px solid color($accent, '400') !important;
  background-color: color($accent, '100') !important;
  box-shadow: 1px 1px 2px color($accent, '300') !important;
}

.toolbar-item.active {
  background-color: color($accent, '50') !important;
}
