.editor-div {
  width: 100%;
}

#simditor-editor-div {
  width: 99%;
  margin: 12px auto;
}

.jot-input {
  background-color: color($accent, 'A200');
  border: none;
  cursor: pointer;
  outline: none;
}

.jot-input-title {
  width: 100%;
  margin-top: 10px;
  font-size: 1.5em;
  text-align: center;
}

.jot-input-tags {
  width: 100%;
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
  color: lighten(color($accent, 'A200'), 30%);
}

.jot-input-mobile-group-select {
  margin-bottom: 10px;
  font-size: 0.8em;
  text-align: center;
  color: lighten(color($accent, 'A200'), 30%);
}

#status-icon {
  position: absolute;
  top:      10px;
  right:    10px;
  cursor:   pointer;
}

#print-icon {
  position: absolute;
  bottom:   10px;
  right:    10px;
  cursor:   pointer;
}

.delete-icon-div {
  text-align: right;
}

.delete-icon {
  margin: 10px 10px;
  cursor: pointer;
}

.delete-icon, .delete-icon-how-to, .status-icon-red {
  color: color($red) !important;
}

.status-icon-green {
  color: color($warn) !important;
}

.simditor {
  border: 1px solid color($accent, '50') !important;
}

.simditor-toolbar {
  border: 1px solid color($accent, '400') !important;
  background-color: color($accent, '100') !important;
  box-shadow: 1px 1px 2px color($accent, '300') !important;
}

.toolbar-item.active {
  background-color: color($accent, '50') !important;
}
