@import 'vars.scss';

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#login-isWorking-div {
  text-align: center;
  color: $site-blue;
  font-size: 4em;
  border-radius: 50%;
  margin: 15% auto;
  height: 100px;
  width: 100px;
  background-color: black;
}

#user-photo-icon {
  border-radius: 50%;
  height: $user-photo-icon-size;
}

#logged-in-user-icon {
  color: $logged-in-user-icon-color;
  font-size: $logged-in-user-icon-size;
}
