@import 'vars.scss';

.cp-Panel-toggle {
  display: block;
  padding: 1em 0 1em 0;
}

.cp-Panel-toggle:link {
  text-decoration: none;
  color: $menu-title-font-color;
  text-align: center;
}

.cp-Panel-toggle:hover {
  color: $site-white;
}

.cpanel-after-link-group-spacer {
  margin-bottom: 1em;
}

.accepts-drag .jots-group-title-div {
  background-color: $site-light-blue !important;
}

.accepts-drag .jots-title-div {
  background-color: $site-light-blue !important;
}

.jots-group-title-div {
  background-color: $site-blue;
}
