md-sidenav {
  min-width: 260px;
}

.nav-title-toolbar {
  padding: 0 0 4px 0;
}

.nav-group-toolbar {
  padding: 0 16px 0 24px;
}

#nav-group-panels {
  md-toolbar, .md-toolbar-tools {
    max-height: 40px !important;
    min-height: 40px !important;
    border-bottom: 1px solid color($primary, '100');
  }
}

#menu-logo {
  margin-top: 32px;
  margin-left: 6px;
  height: 2.8em;
  width:  2.8em;
}

.user-photo-icon {
  cursor: pointer;
  border-radius: 50%;
  height: 1.4em;
  margin-top: 10px;
  margin-right: 6px;
}

.user-anonymous-icon {
  cursor: pointer;
  margin-right: 6px;
}

.nav-speed-jots-text {
  font-size: 1.35em;
  margin-left: -4px;
}

#search-input .paper-icon {
  color: rgba(0, 0, 0, 0.54);
  margin-left: 8px;
}

#search-input {
  margin-bottom: -20px;
  margin-top: 4px;
  width: 78%
}

.group-panel-icon {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 0.8em;
  opacity: 0.4;
}

.menu-jot-link-div {
  padding: 10px 6px 6px 16px;
}

.menu-jot-link.active > div {
  background-color: color($accent, '50');
  font-weight: bold;
}

.nav-icons {
  margin-top: 10px;
  margin-bottom: 10px;
  md-icon {
    padding: 10px;
    cursor: pointer;
  }
}

.github-icon {
  cursor: pointer;
  font-size: 1.6em;
}

.md-menu-github-icon {
  margin: auto 16px auto 2px;
}

.new-group-icon {
  color: color($accent) !important;
}

.new-jot-icon {
  color: color($warn) !important;
}

#trashToolbar {
  background-color: color($red, 'A700');
}