
$font-family: sans-serif;

$site-bg-color:      #fff;
$primary-text-color: #333;
$site-blue:          #22c;

$menu-title-font-color: $primary-text-color;
$icon-green:            #1e1;
$icon-red:              #e11;
$icon-orange:           orange;
$input-text-color:      $primary-text-color;
$input-bg-color:        #eef;
$title-input-underline: $site-blue;
$tags-input-underline:  #5592c1;
$input-label-color:     #99b;

$welcome-message-font-size:  1.1em;
$menu-title-font-size:       1.8em;
$menu-jot-link-font-size:    0.9em;
$title-input-font-size:      1.4em;
$tags-input-font-size:       0.8em;
$input-label-font-size:      0.7em;
$login-form-label-font-size: 0.8em;
$fa-icon-size:               1.6em;
$logout-icon-size:           0.8em;
$user-photo-icon-size:       2em;
$loged-in-user-icon-size:    1.15em;

$editor-container-height:  90%;
$iframe-height:            100% !important;
$mce-edit-area-height:     90% !important;

$input-title-tags-width: 90%;

$fa-icon-padding: 10px;