{{#if session.isAuthenticated}}
  <p class="welcome-message-title">Speed Jots</p>
  <p id='index-logo'><img src='assets/favicons/apple-touch-icon-72x72.png'></p>
  <p class='welcome-message'>Select</p>
  <p class='welcome-message'>Search</p>
  <p class='welcome-message'>New</p>
  <p class='welcome-message'>Jot</p>
{{else}}
  <p class='welcome-message'>If you see this message, please notify the management.</p>
{{/if}}
