
$font-family:             sans-serif;
$site-bg-color:           #fff;

$primary-text-color:      #333;
$site-white:              #fff;
$site-off-white:          #eef;
$site-very-light-gray:    #e0e0f0;
$site-blue:               #56e;
$site-light-blue:         #99b;
$site-green:              #5a5;
$site-red:                #c55;
$site-orange:             orange;
$google-icon-color:       #4081f8;

$menu-title-font-color:      $site-off-white;
$icon-green:                 $site-green;
$icon-red:                   $site-red;
$icon-orange:                $site-orange;
$input-text-color:           $primary-text-color;
$input-bg-color:             $site-off-white;
$title-input-underline:      $site-very-light-gray;
$tags-input-underline:       $site-very-light-gray;
$search-input-underline:     $site-very-light-gray;
$input-label-color:          $site-very-light-gray;
$logout-icon-color:          $site-red;
$firebase-icon-color:        $site-orange;
$new-jot-icon-color:         $site-green;
$logged-in-user-icon-color:  $site-green;
$destroy-jot-icon-color:     $site-red;
$menu-border-color:          $site-light-blue;
// $tags-input-underline:       #5592c1;

$simditor-toolbar-bg-color:             #f3f3ff;
$simditor-toolbar-button-active-color:  $site-very-light-gray;
$simditor-toolbar-border-color:         $site-light-blue;
$simditor-toolbar-icon-color:           $primary-text-color;

$welcome-message-title-font-size:  2.5em;
$welcome-message-font-size:        1.5em;
$menu-title-font-size:             1.8em;
$menu-jot-link-font-size:          1em;
$search-input-font-size:           0.9em;
$title-input-font-size:            1.4em;
$tags-input-font-size:             0.8em;
$input-label-font-size:            0.7em;
$fa-icon-size:                     2.2em;
$login-title-font-size:            1.5em;
$login-form-label-font-size:       0.8em;
$logout-icon-size:                 1em;
$login-icon-size:                  1.6em;
$user-photo-icon-size:             2.2em;
$logged-in-user-icon-size:         1.15em;
$menu-logo-size:                   3em;

$input-title-tags-width:   90%;

$fa-icon-padding:          10px;