<p class="welcome-message-title">Speed Jots</p>
<p id='index-logo'><img src='assets/favicons/apple-touch-icon-72x72.png'></p>
<p class="welcome-message">Group editing ... comming to a Speed Jot new you soon!</p>
