{{#if session.isAuthenticated}}
  <p>If this message persists, please notify the management</p>
{{else}}
  <p class="welcome-message-title">Speed Jots</p>
  <p class="welcome-message">Simple</p>
  <p class="welcome-message">Fast</p>
  <p class="welcome-message">Jots</p>
{{/if}}

{{login-component}}
