{{#if session.isAuthenticated}}
  {{!-- Do nothing --}}
{{else}}
  <div class='layout-column layout-fill'>
    {{#paper-toolbar class='flex-none md-whiteframe-2dp'}}
      <h1 class='index-text'>Speed Jots</h1>
    {{/paper-toolbar}}
    <div class='flex-none index-description-div'>
      <div class='index-text app-index-rabbit'><img src='assets/favicons/apple-touch-icon-72x72.png'></div>
      <h3 class='index-text'>A web app to take notes</h3>
      <h3 class='index-text'>Organized into groups</h3>
      <h3 class='index-text'>Searchable by title and tags</h3>
      <h3 class='index-text'>No bloat no mess no cost</h3>
      <h3 class='index-text'>Secure and encrypted always.</h3>
    </div>
    <div class='flex-none'>
      <hr>
    </div>
    <div id='index-login-div' class='flex-none center'>
      {{login-component}}
    </div>
  </div>
{{/if}}
