{{#if session.isAuthenticated}}
  {{fa-icon 'circle-o-notch' class='fa-spin fa-4x login-spinner'}}
{{else}}
  <p class="welcome-message-title">Speed Jots</p>
  <p class="welcome-message">Simple</p>
  <p class="welcome-message">Fast</p>
  <p class="welcome-message">Jots</p>
  <div id='index-login-div'>
    {{login-component}}
  </div>
{{/if}}
