{{#if session.isAuthenticated}}
  {{!-- Do nothing --}}
{{else}}
  <div id='index-card'>
    {{#paper-card as |card|}}
      {{#paper-toolbar class='md-whiteframe-2dp'}}
        <h1 class='index-text'>Speed Jots</h1>
      {{/paper-toolbar}}
      {{#card.content}}
        <p class='index-text'><img src='assets/favicons/apple-touch-icon-72x72.png'></p>
        <h2 class='index-text'>Simple</h2>
        <h2 class='index-text'>Fast</h2>
        <h2 class='index-text'>Jots</h2>
        <div id='index-login-div' class='center'>
          {{login-component}}
        </div>
      {{/card.content}}
    {{/paper-card}}
  </div>
{{/if}}
